# data
data/raw/*
data/processed/*
data/features/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/features/.gitkeep

# python
__pycache__/
*.pyc
.venv/
.env

# notebooks
.ipynb_checkpoints/

# OS/IDE
.DS_Store
.vscode/
.idea/
